@{
    Layout = "~/Views/Shared/_OrnekSitelerLayout.cshtml";
    ViewData["Title"] = "Anasayfa";
}


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida elit vel magna ultricies sodales. Aliquam ut egestas ex, at placerat ex. Nunc porta fringilla ex consequat ultricies. Ut sodales tempus tincidunt. Curabitur aliquet arcu a eros sollicitudin tristique id a risus. Pellentesque a velit in purus interdum feugiat a tempor tortor. Ut sit amet elit suscipit, gravida leo id, ultricies enim.</p>
    