
@{
    Layout = null;
}

<!DOCTYPE html>
0*ü*-
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anasayfa</title>
</head>
<body>
    <div> 
        <p>Merhaba!</p>
        <p>Burası normal controller içindeki Anasayfa kısmı</p>
        <a href="/Normal/RenkliSayfa">Renkli Sayfa</a>
        <a href="/Normal/Alert">Uyarıyı Göster</a>
    </div>
</body>
</html>