
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenkliSayfa</title>
</head>
<link href="~/Content/renkli.css" rel="stylesheet" />
<body>
    <div> 
        <p>Burası Renkli Sayfa</p>
        <a href="/Normal/Anasayfa">Anasayfaya Dön</a>
        <a href="/Normal/Alert">Uyarıyı Göster</a>
    </div>
</body>
</html>
