
@{
    Layout=null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Faydalari</title>
</head>
<body>
    <div>
        <h1>MVC Faydaları?</h1>
        <p>
            Kolay kod bakımı, genişletmesi ve büyütmesi kolaydır
            MVC’deki Model bileşeni kullanıcıdan ayrı olarak test edilebilir
            Yeni müşteri türleri için daha kolay destek sağlar
        </p><p>
            Bir uygulamayı üç birime bölerek karmaşıklığı azaltır
            Test odaklı geliştirme için en iyi desteği sunar
            Büyük web tasarımcıları ve geliştirici ekipleri tarafından desteklenen web uygulamaları için stabil çalışır
        </p><p>
            Tüm sınıflar ve nesneler birbirinden bağımsızdır, böylece onları ayrı ayrı test edebilirsiniz
            Bir Controller’daki ilgili eylemlerin birlikte mantıksal olarak gruplandırılmasına izin verir
        </p>
    </div>
</body>
</html>
