
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Nedir</title>
</head>
<body>
    <div>
        <h1>MVC Nedir?</h1>
        <p>
            ASP .NET MVC, MVC pattern'inin ASP .NET'e eklemek için Microsoft geliştirdiği bir frameworktür.
        </p>
    </div>
    <img src="~/Content/mvc.jpg" alt="" />
</body>
</html>
