
@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrnekSiteler</title>
</head>
<body>
    <div>

        <h1>örnek siteler?</h1>
        <ul>
            <li>stacoverflow</li>
            <li>microsoft</li>
            <li>diply</li>
        </ul>
    </div>
</body>
</html>
